*.klib
.kotlin/
*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
Thumbs.db
.classpath
.project
.idea/
.gradle/
build/
app/build/
keystore/
obj/
*.jks
*.pem
*.so
libavcodec.so
libavdevice.so
libavfilter.so
libavformat.so
libavutil.so
libc++_shared.so
libmpv.so
libplayer.so
libpostproc.so
libswresample.so
lbswscale.so
Pods/
*.mychanges

buildscripts/deps
buildscripts/sdk
buildscripts/prefix
buildscripts/prefix64
*.h
*.tgz

# Hide python files which i offload into my project for quickly viewing syncplay official code
*.py