*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
Thumbs.db
.classpath
.project
.idea/
.gradle/
build/
app/build/
gradle/
obj/
*.jks
*.so
jniLibs/*