<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <!-- Android TV: touchscreen not required, leanback optional (app works on both phone + TV) -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <application
        android:banner="@drawable/tv_banner"
        android:name="app.SynkplayApp"
        android:allowBackup="false"
        android:appCategory="video"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="false"
        android:theme="@style/SplashTheme"
        tools:targetApi="36">

        <activity
            android:name="app.SyncplayActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:imeOptions="flagNoExtractUi"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="app.server.SyncplayServerService"
            android:foregroundServiceType="specialUse"
            android:exported="false" />

    </application>

</manifest>